.btn {
    background-color: $primaryDark;
    color: $secondaryDark;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 1.25em;
    padding: 10px 25px;
    border: 1px solid $primaryDark;
    border-radius: 2px;
    outline: none;
    transition: .3s;
    pointer-events: stroke;
    cursor: pointer;

    &:active {
        box-shadow: 5px 5px 30px rgba(0, 0, 0, .4);
    }
}


.centered-btn-wrapper {
    display: flex;
    justify-content: center;
}