@media (max-width: 615px) {

    .app-wrapper {
        width: 100vw;
        padding: 0px;
    }

        

        .navigation-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 90vh;
            width: 90vw;
            padding-top: 10px;
    
            .left-column {
                display: none;
                grid-template-columns: 1fr;                
    
                .contact-hours-wrapper {
                    display: grid;
                }
    
    
            }
    
            .center-column {
                order: 1;
                width: 100vw;
    
                .banner-image {
                    margin-bottom: auto;
                    
                    img {
                        width: 75vw;
                    }
                }

                .links-wrapper {
                    height: 20vh;
        
                    .nav-link {
                        font-size: 1.5em;
                        width: 45%;
            
            
                        a {
                            width: 20vw;
                            font-size: 5vw;
                        }
                    }
                    
                }

                
            }
    
            .right-column {
                display: none;
    
                .address-wrapper {
                    display: grid;
                }
    
                .contact-icon {
                    display: none;
                }
            }
        }       

        

        

        .features-section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            width: 85vw;
            text-align: center;

            .columns-wrapper {
                margin: 0px;
                justify-content: none;
                width: 20vw;
                margin-left: -25px;

                .column {
                    margin: 2px !important;

                    &:nth-child(1) {
                        font-size: 15px !important;
                        height: 33vh;
                    }
                }

            }

        }
        
    
    .map {
        width: 85vw !important;
    }
    
    .footer {
        height: 25%;

        .logo {
            height: none;
            width: 97vw;
        }

        .footer-phone-hours {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .links-wrapper {
            width: auto;
            margin-left: -20px;
        }

        .social-media-icons-wrapper {
            margin-top: 15px;
        }

        .copyright-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    .skewed-header {
        height: 40vh;

        .skewed-header-wrapper {

            .skewed-header-content {
                flex-direction: column;
                width: 95vw;

                .links-wrapper {
                    justify-content: space-around;
                    width: 80vw;

                    .nav-link {
                        width: 85vw;

                    }
                }
            }
        }

        .header-bg {
            background-size: 550px;
        }
    }

    .page-container {
        padding-left: 21px;
        padding-right: 21px;

        .content-wrapper {

            #BigBlueTank {
                margin: 0px 0px 25px 0px;
                width: 100%;
            }
        }
    }

    .square {
        grid-template-columns: 1fr !important;

        .square-text-wrapper {
            order: 1;

            h1 {
                text-align: center;}

            ul {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .img-wrapper {
            order: 2;

            img {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    .contact-grid-wrapper {
        flex-direction: column;
        width: 100vw !important;
        grid-template-columns: 1fr !important;
        grid-gap: 10px !important;

        .logo {
            width: 90vw;
        }
    }

    .form input {
        padding: 1.5rem 0rem;
    }

    .form textarea {
        padding: 1.5rem 0rem;
    }

    .btn {
        z-index: 99;
    }

    .logo {
        height: 75px;
        width: 100vw;
        align-items: flex-start;
    }
}