.product-details-wrapper {
  display: flex;
  width: 100%;
  height: auto;

  .details-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 5px double $secondaryDark;
    border-radius: 8px;

    .details-image-wrapper {
      padding: 2rem;

      img {
        width: auto;
        max-height: 400px;
        border-radius: 10px;
      }
    }
  }
}
